[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytaglib = "*"
requests = "*"
pyacoustid = "*"
lucos-schedule-tracker-pythonclient = ">=2.0.5"

# Workaround for https://github.com/beetbox/audioread/issues/144 to enable running on python 3.13+
standard-aifc = "*"
standard-sunau = "*"

[dev-packages]
