version: 2.1
orbs:
  lucos: lucos/deploy@0
jobs:
  test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Run test container
          command: docker compose up test --build --exit-code-from test
workflows:
  version: 2
  build-deploy:
    jobs:
      - test
      - lucos/build-armv7l
      - lucos/deploy-xwing:
          serial-group: << pipeline.project.slug >>/deploy-xwing
          requires:
            - test
            - lucos/build-armv7l
          filters:
            branches:
              only:
                - main